<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Workout Wizard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      href="./favicon/android-chrome-512x512.png"
    />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#f3ac1c" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  </head>
  <body>
    <div class="container-fluid g-0">
    <header>
    <nav class="navbar sticky-top navbar-expand-lg bg-body-secondary">
      <div class="container-fluid">
        <div id="centeredLogo">
        <a class="navbar-brand" href="/">
          <img class="animeLilGuy" src="/images/lilguy_with_eyes_workout_wizard_on_trans.png" height="125" width="125" alt="Workout Wizard Logo">
        </a>
        </div>
        <div id="wideLogo">
        <a class="navbar-brand" href="/">
          <img class="animeLilGuy" src="/images/lilguy_horiz_workout_wizard_on_trans copy.png" height="110" width="305" alt="Workout Wizard Logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav" id="logoutNav">
            {{#if loggedIn}}
              <li class="nav-item" id="navItem">
                <button class="nav-link btn btn-no-style" id="logout">Log Out</button>
              </li>
            {{else}}
              <li class="nav-item" id="navItem">
                <button type="button" class="btn btn-no-style nav-link" id="buttonStyled" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="loginModalLabel">Log In</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/api/user/login" method="post">
              <div class="form-group">
                <label for="usernameInputLogin">Username</label>
                <input type="input" name="username" class="form-control" id="usernameInputLogin" aria-label="inputUsername" placeholder="Enter Username"/>
              </div>
              <div class="form-group">
                <label for="passwordInputLogin">Password</label>
                <p class="fw-light" id="passwordVerifyText">Please add at least 8 characters including at least 1 uppercase, 1 lowercase and 1 digit.</p>
                <input type="password" name="password" class="form-control" id="passwordInputLogin" placeholder="Enter Password"/>
              </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalButton">Close</button>
            <button type="submit" class="btn btn-primary" id="modalButton">Submit</button>
          </div>
            </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="signupModalLabel">Sign Up</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/api/user" method="post">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="input" name="username" class="form-control" id="username" aria-label="inputUsername" placeholder="Enter Username"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password"/>
                <ul id="passwordMessages">
                  {{!-- this order matters, maintain li order on handlebars changes --}}
                  <li class="passwordMessageRed"><span id="liSpan1" class="fw-bold">X </span>You Need At Least 1 Lowercase Character</li>
                  <li class="passwordMessageRed"><span id="liSpan2" class="fw-bold">X </span>You Need At Least 1 Uppercase Character</li>
                  <li class="passwordMessageRed"><span id="liSpan3" class="fw-bold">X </span>You Need At Least 1 Number</li>
                  <li class="passwordMessageRed"><span id="liSpan4" class="fw-bold">X </span>You Need At Least 1 Special Character ['/?!']</li>
                  <li class="passwordMessageRed"><span id="liSpan5" class="fw-bold">X </span>Your Password Must Be 8 Characters Long</li>
                </ul>
              </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalButton">Close</button>
            <button type="submit" class="btn btn-primary" disabled id="signUpModalButton">Submit</button>
          </div>
            </form>
        </div>
      </div>
    </div>
    {{{body}}}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/anime.js"></script>
    <script src="/js/passChecker.js"></script>
  </body>

</html>