{{! <div class="container mt-2">
  <!-- LOG IN -->
  <section>
    <button
      type="button"
      class="btn btn-no-style"
      data-bs-toggle="modal"
      data-bs-target="#loginModal"
    >
      Log In
    </button>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="loginModalLabel">Log In</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- FORM GOES BELOW -->
          <form>
            <div class="form-group">
              <label for="usernameInputLogin">Username</label>
              <input
                type="input"
                class="form-control"
                id="usernameInputLogin"
                aria-label="inputUsername"
                placeholder="Enter Username"
              />
            </div>
            <div class="form-group">
              <label for="passwordInputLogin">Password</label>
              <input
                type="password"
                class="form-control"
                id="passwordInputLogin"
                placeholder="Enter Password"
              />
            </div>
          </form>
          <!-- FORM GOES ABOVE -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div> }}