<h1>Wrong Username or Password</h1>
<form action="/api/user/login" method="post">
              <div class="form-group">
                <label for="usernameInputLogin">Username</label>
                <input type="input" name="username" class="form-control" id="usernameInputLogin" aria-label="inputUsername" placeholder="Enter Username"/>
              </div>
              <div class="form-group">
                <label for="passwordInputLogin">Password</label>
                <input type="password" name="password" class="form-control" id="passwordInputLogin" placeholder="Enter Password"/>
              </div>
          </div>
            <button type="submit" class="btn btn-primary" id="modalButton">Submit</button>
            </form>