<section class="container profileContainer" id="profileStyle">
  {{! contains top row of information: QOTD and AREA 2 ("At a Glance...", "Today") }}
  {{! QOTD div }}
  <div class="row">
    <div class="col-md-8">
      <h2>Welcome {{username}}!</h2>
    </div>
    {{! View Workout Archive }}
    <div class="col-md-2" id="archive">
      <button
        type="button"
        class="btn btn-no-style btn-primary"
        id="archive-button"
        data-bs-toggle="modal"
        data-bs-target="#archivedWorkout"
      >
        Workout Archive
      </button>

      <div
        class="modal fade"
        id="archivedWorkout"
        tabindex="-1"
        aria-labelledby="archivedWorkoutLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="archivedWorkoutlabel">Past
                Workouts</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              {{! INSERT MODAL CONTENT HERE }}
              {{! INSERT MODAL CONTENT HERE }}
              {{! INSERT MODAL CONTENT HERE }}
              <div class="row">
                <div id="past-workouts"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                id="modalButton"
              >Close</button>
              <button
                type="button"
                class="btn btn-primary"
                id="modalButton"
              >More</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    {{! Create New Workout }}
    <div class="col-md-2" id="create-workout">
      <button
        type="button"
        class="btn btn-no-style"
        id="create-workout-button"
        data-bs-toggle="modal"
        data-bs-target="#createWorkout"
      >
        Create Workout
      </button>

      <div
        class="modal fade"
        id="createWorkout"
        tabindex="-1"
        aria-labelledby="createWorkoutLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createWorkoutLabel">Create Your
                Workout</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              {{! INSERT MODAL CONTENT HERE }}
              {{! INSERT MODAL CONTENT HERE }}
              {{! INSERT MODAL CONTENT HERE }}
              {{! <p>(Insert content form for creation of the workout)</p> }}
              <h5>Duration</h5>
              {{! time dropdown }}
              <input
                type="text"
                class="form-control"
                id="commentsInput"
                placeholder="Comment"
                aria-label="Comment"
              />
              <input
                type="number"
                class="form-control"
                id="durationInput"
                placeholder="Duration (mins)"
                aria-label="Duration (mins)"
              />
              <input
                type="number"
                class="form-control"
                id="caloriesInput"
                placeholder="Calories Burned"
                aria-label="Calories Burned"
              />
              <h5>Type of Workout</h5>
              {{! type dropdown }}
              {{! strength }}
              {{! cardio }}
              {{! flexibility }}
              {{! sport }}
              <h5>Exercises</h5>
              <div id="exercises-group"></div>
              <button id="add-exercise">Add Exercise</button>
              {{! dropdown for list of exercises }}
              {{! Leave as a number input }}
              {{! UNITS = dropdown: lbs, miles, reps }}
              {{! ADD WORKOUT CARD }}
              {{! card exercise 1 }}
              {{! card exercise 2 }}
              {{! card exercise 3 }}
              {{! card exercise 1 }}
              {{! card exercise 1 }}
              {{! card exercise 1 }}
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                id="modalButton"
              >Close</button>
              <button
                type="button"
                class="btn btn-primary"
                id="save-workout"
              >Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <hr />
    <div class="end col-md-4 px-3" id="left-box-outlines">
      {{! render w get request }}
      <h5>{{quote.quote}} </h5>
      ~
      <span>{{quote.author}}</span>
    </div>
    {{! this div will change in content at h4, depending on page visited }}
    <div class="center col-md-8">
      <h4>Progress...</h4>
      <p>Weight Change: (Tracked Weight Change)</p>
      <p>Workouts Completed: (Tracked Workouts Completed)</p>
      <p>Workout Streak: (Tracked Workout Streak)</p>
    </div>
  </div>
</section>

<script src="/js/workout.js"></script>

{{! Area 2 container }}
{{! <section class="container">
  <div class="row">
    <h2>Archive</h2>
    <hr />
    <div class="end col-md-4 px-3" id="left-box-outlines">
      <h5>Previous Workouts...</h5>
      <p>Workout from (Date of Previous Workout)</p>
      <p>Workout from (Date of Previous Workout)</p>
      <p>Workout from (Date of Previous Workout)</p>
    </div>
    <div class="center col-md-8">
      <h5>Progress...</h5>
      <p>Weight Change: (Tracked Weight Change)</p>
      <p>Workouts Completed: (Tracked Workouts Completed)</p>
      <p>Workout Streak: (Tracked Workout Streak)</p>
    </div>
  </div>

</section> }}