<section class="container profileContainer" id="profileStyle">
  {{! contains top row of information: QOTD and AREA 2 ("At a Glance...", "Today") }}
  {{! QOTD div }}
  <div class="row">
    <div class="col-md-8">
      <h2>Welcome {{username}}!</h2>
    </div>
    {{! View Workout Archive }}
    <div class="col-md-2" id="archive">
      <button
        type="button"
        class="btn btn-no-style btn-primary"
        id="archive-button"
        data-bs-toggle="modal"
        data-bs-target="#archivedWorkout"
      >
        Workout Archive
      </button>

      <div
        class="modal fade"
        id="archivedWorkout"
        tabindex="-1"
        aria-labelledby="archivedWorkoutLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="archivedWorkoutlabel">
                <img
                  src="/images/lilguy_with_eyes_workout_wizard_on_trans.png"
                  alt="Workout wizard"
                  class="img me-4 w-25"
                />Past Workouts</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">

              <div class="row">
                <div id="past-workouts"></div>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                id="modalButton"
              >Close</button>
              <button
                type="button"
                class="btn btn-primary"
                id="modalButton"
              >More</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    {{! Create New Workout }}
    <div class="col-md-2" id="create-workout">
      <button
        type="button"
        class="btn btn-no-style"
        id="create-workout-button"
        data-bs-toggle="modal"
        data-bs-target="#createWorkout"
      >
        Create Workout
      </button>

      <div
        class="modal fade"
        id="createWorkout"
        tabindex="-1"
        aria-labelledby="createWorkoutLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createWorkoutLabel">
                <img
                  src="/images/lilguy_with_eyes_workout_wizard_on_trans.png"
                  alt="Workout wizard"
                  class="img me-4 w-25"
                />Create Your Workout</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-center">
              <h5>Overview</h5>
              {{! add comment }}
              <div class="input-group">
                <span
                  class="input-group-text"
                  id="inputGroup-sizing"
                >Comment</span>
                <input
                  type="text"
                  class="form-control"
                  id="commentsInput"
                  placeholder="Describe Your Goal"
                  aria-label="Comment"
                />
              </div>
              {{! duration }}
              <div class="input-group">
                <span
                  class="input-group-text"
                  id="inputGroup-sizing"
                >Duration</span>
                <input
                  type="number"
                  class="form-control"
                  id="durationInput"
                  placeholder="Duration (mins)"
                  aria-label="Duration (mins)"
                />
              </div>

              {{! calories }}
              <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing">Calories
                  Burned</span>
                <input
                  type="number"
                  class="form-control"
                  id="caloriesInput"
                  placeholder="Calories Burned"
                  aria-label="Calories Burned"
                />
              </div>
              <hr />
              <h5>Type of Workout</h5>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  href="#"
                >
                  Workout Type
                  <span id="type-selection"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Cardio</a></li>
                  <li><a class="dropdown-item" href="#">Flexibility</a></li>
                  <li><a class="dropdown-item" href="#">Sport</a></li>
                  <li><a class="dropdown-item" href="#">Strength</a></li>
                </ul>
              </div>
              <hr />

              <h5>Exercises</h5>
              {{! dropdown for list of exercises }}
              <div id="exercises-group"></div>
              {{! adds form field: Exercise, Value, Units }}
              <button id="add-exercise">Add</button>
            </div>
            <div class="modal-footer justify-content-center">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                id="modalButton"
              >Close</button>
              <button
                type="button"
                class="btn btn-primary"
                id="save-workout"
              >Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <hr />
    <div class="end col-md-4 px-3" id="left-box-outlines">
      {{! render w get request }}
      <h5>{{quote.quote}} </h5>
      ~
      <span>{{quote.author}}</span>
    </div>
    {{! this div will change in content at h4, depending on page visited }}
    <div class="center col-md-8">
      <h4>Workouts Logged: {{totalWorkouts}}</h4>
      <img
        src="https://images.pexels.com/photos/2780762/pexels-photo-2780762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="chaturanga picture"
        id="yogaPic"
      />
    </div>
  </div>
  <hr />
  <div class="row justify-center">
    <div id="current-workout"></div>
    <div class="d-flex justify-content-center w-100">
      <button
        class="btn btn-primary w-25 my-4"
        id="workout-completed"
        style="display:none;"
      >Workout Completed</button>
    </div>
  </div>
</section>

<script src="/js/workout.js"></script>