/*  */
#headerFavicon {
  width: 25%;
}
/*  */

header {
  text-align: center;
}

h2 {
  padding-top: 10px;
  text-align: center;
}

.container {
  padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.start {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.end {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: end;
}

#left-box-outlines {
  border-right-style: ridge;
  border-left-style: ridge;
  border-radius: 10px;
}

/*  */
/* END CODE RT 6/30   */
