* {
  font-family: "M PLUS 1p", sans-serif;
}

#headerFavicon {
  width: 25%;
}

/* EK: */
:root {
  --darkest: #323232;
  --darker: #902413;
  --medium: #0757a1;
  --lighter: #c32809;
  --lightest: #eec139;
  --white: #f2f2f2;
}

header {
  text-align: center;
  box-shadow: 0 6px 6px 0 #000000a4;
  border-radius: 2%;
  margin-bottom: 1%;
}

h2 {
  padding-top: 10px;
  text-align: center;
}

.container {
  padding: 1%;
}

.profileContainer {
  background-color: var(--white);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.start {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.end {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: end;
}

#left-box-outlines {
  border-right-style: double;
  border-radius: 2%;
}

/* END CODE RT 6/30   */

.homeImg1 {
  background: url("../images/ww_image_1.png") no-repeat center center fixed;
  border-radius: 2%;
  box-shadow: 0 6px 6px 0 #000000a4;
}

.homeImg2 {
  background: url("../images/ww_image_2.png") no-repeat center center fixed;
  border-radius: 2%;
  box-shadow: 0 6px 6px 0 #000000a4;
}

.homeImg3 {
  background: url("../images/ww_image_3.png") no-repeat center center fixed;
  border-radius: 2%;
  box-shadow: 0 6px 6px 0 #000000a4;
  margin-bottom: 1%;
}

.wwHomeRow {
  color: var(--white);
  align-items: center;
  height: 800px;
  width: 100%;
  margin-left: 0 !important;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#homeSignBtn {
  border: solid 3px var(--darker);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

#buttonStyled,
#logout {
  border: solid 3px var(--darker);
  width: 12vw;
  color: var(--darkest);
  transition: all 0.3s ease-in-out;
}

#modalButton,
#add-exercise,
#save-workout,
#dropdownMenuButton {
  border: solid 3px var(--darker);
  width: 75%;
  background-color: var(--white);
  color: var(--darkest);
  transition: all 0.3s ease-in-out;
}

#homeSignBtn:hover {
  border: solid 3px var(--medium);
  background-color: var(--medium);
  transition: all 0.3s ease-in-out;
}

#buttonStyled:hover,
#logout:hover,
#modalButton:hover,
#add-exercise:hover,
#save-workout:hover {
  border: solid 3px var(--medium);
  background-color: var(--medium);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

#wideLogo {
  visibility: visible;
}

#centeredLogo {
  display: none;
  justify-content: center;
}

#profileStyle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#archive-button,
#create-workout-button {
  border: solid 3px var(--darker);
  width: 12vw;
  color: var(--darkest);
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

#archive-button:hover,
#create-workout-button:hover {
  border: solid 3px var(--medium);
  background-color: var(--medium);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

#inputGroup-sizing {
  border: 2px;
  width: 50%;
}

#profileStyle {
  border-radius: 2%;
  padding-bottom: 3%;
  padding-top: 1%;
  box-shadow: 0 6px 6px 0 #000000a4;
}

@media screen and (max-width: 991px) {
  #centeredLogo {
    display: block;
  }
  #wideLogo {
    display: none;
  }
}
